.relogioNumero {
  background-color: #314c53;
  box-shadow: 2px 2px 4px #2B2B2B inset;
  height: 75px;
  width: 45px;
  padding: 8px 4px;
  border-radius: 10px;

  @media screen and (min-width:1280px) {
    height: 180px;
    width: 110px;
  }
}

.relogioDivisao {
  height: 5rem;

  @media screen and (min-width:1280px) {
    height: 12.6rem;
  }
}